extends layout

block content
    div(class="main-content")
        h1 About page
        p lorem
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi consequatur, deleniti deserunt et iusto, laudantium numquam obcaecati odit, officia omnis perferendis possimus quibusdam quisquam rem reprehenderit saepe sit tempore vel?
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi consequatur, deleniti deserunt et iusto, laudantium numquam obcaecati odit, officia omnis perferendis possimus quibusdam quisquam rem reprehenderit saepe sit tempore vel?
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi consequatur, deleniti deserunt et iusto, laudantium numquam obcaecati odit, officia omnis perferendis possimus quibusdam quisquam rem reprehenderit saepe sit tempore vel?



