extends layout


block sidebar
    include sidebar

block content
   div(class="main-content with-sidebar")
   h1 Добро111 пожаловать на сайт сказок народов мира тысяча и одна ночь - azku.ru. Что же такое сказка?
   p
     img(src='images/stories/skazka1.jpg' class='img-left')
   p Ровный золотистый свет луны заливал высокий дом, стоящий на сваях, как на ходулях, освещал ребятишек и взрослых, сидящих на высоком помосте — открытом крыльце — вокруг старого Тхыонга, деда-сказочника. Невдалеке сквозь тропическую ночь скорее угадывались, чем виднелись силуэты невысоких, сгорбленных, как черепахи, вьетнамских гор. Размеренно и напевно лилась речь — дед рассказывал сказки.
   p В них, как и в сказках всех народов мира, жила дерзновенная мечта человека о счастье, о чудесных предметах и чудесах: ковре-самолете и тысячемильных туфлях, о дворцах, возникающих по волшебству, и о необыкновенных, огромных рисовых зернах.
   p Сказка — удивительное творение человеческого гения, она возвышает человека, радует его, дает веру в свои силы, в будущее, увлекает достижимостью того, что кажется вроде бы совершенно невозможным...br Наутро я прощался с дедом Тхыонгом, и еще долго слышались мне мелодичные и величавые звуки гонга, доносившиеся из его дома, где собрались люди по случаю отъезда советско-вьетнамской экспедиции фольклористов.

