extends layout

block sidebar
    include sidebar

block content
    div(class="main-content with-sidebar")
      if !data
        a(href='/tales') Вернуться к списку сказок
        h2= title
        img(src=src class='img-left')
        p= text
      else
        h1 Сказки
        ul
        each item in data
          a(href='tales/?t='+ item.id)
            li= item.title

